@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

body {
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

p {
    font-size: 24px;
    font-family: Raleway;
    text-align: center;
}
